.fund-logon .ui-button-lorange {
	padding: 0px 20px; border-radius: 2px; text-align: center; font-size: 14px; font-weight: 700; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer;
}
.fund-logon .ui-button-sorange {
	padding: 0px 20px; border-radius: 2px; text-align: center; font-size: 14px; font-weight: 700; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer;
}
.fund-logon .ui-button-lorange .ui-button-text {
	background: 0px; padding: 0px; height: auto;
}
.fund-logon .ui-button-sorange .ui-button-text {
	background: 0px; padding: 0px; height: auto;
}
.fund-logon .ui-button-lorange {
	border: 1px solid rgb(246, 118, 0); color: rgb(255, 255, 255); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA600', endColorstr='#FE9200'); box-shadow: inset 0px -2px 3px rgba(255,255,255,0.4); background-color: rgb(245, 170, 43);
}
.fund-logon .ui-button-sorange {
	border: 1px solid rgb(246, 118, 0); color: rgb(255, 255, 255); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA600', endColorstr='#FE9200'); box-shadow: inset 0px -2px 3px rgba(255,255,255,0.4); background-color: rgb(245, 170, 43);
}
.fund-logon .ui-button-lorange {
	height: 33px; line-height: 33px;
}
.fund-logon .ui-button-sorange {
	padding: 3px 10px 4px; height: 16px; line-height: 16px; font-size: 12px; vertical-align: top;
}
.fund-logon .ui-button-lorange:hover {
	border: 1px solid rgb(242, 102, 0); color: rgb(255, 255, 255); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB91C', endColorstr='#FFA700'); box-shadow: inset 0px -2px 2px rgba(255,255,255,0.4); background-color: rgb(245, 170, 43);
}
.fund-logon .ui-button-sorange:hover {
	border: 1px solid rgb(242, 102, 0); color: rgb(255, 255, 255); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB91C', endColorstr='#FFA700'); box-shadow: inset 0px -2px 2px rgba(255,255,255,0.4); background-color: rgb(245, 170, 43);
}
.ui-poptip {
	color: rgb(219, 124, 34); line-height: 1.5; position: absolute; z-index: 101; zoom: 1;
}
.ui-poptip-shadow {
	padding: 2px; border-radius: 2px; filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b); zoom: 1; background-color: rgba(229, 169, 107, 0.15); _display: inline;
}
.ui-poptip-container {
	padding: 5px 22px 5px 10px; border-radius: 2px; border: 1px solid rgb(255, 187, 118); position: relative; zoom: 1; background-color: rgb(255, 252, 239); _display: inline;
}
.ui-poptip::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.ui-poptip-shadow::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.ui-poptip-container::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
a.ui-poptip-close {
	background: rgb(255, 215, 175); border-radius: 3px; border: 1px solid rgb(255, 200, 145); top: 3px; width: 12px; height: 12px; text-align: center; right: 3px; color: rgb(221, 126, 0); line-height: 10px; overflow: hidden; font-family: tahoma; font-size: 14px; text-decoration: none; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1', endColorstr='#FFE7CD'); position: absolute;
}
a.ui-poptip-close:hover {
	background: rgb(255, 215, 175); border: 1px solid rgb(255, 178, 76); color: rgb(221, 126, 0); text-decoration: none; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA', endColorstr='#FFCC98');
}
.ui-poptip-content {
	float: left; display: inline;
}
.ui-poptip-link {
	margin-top: 4px; float: left;
}
.ui-poptip-link a {
	color: rgb(0, 136, 204);
}
:root .ui-poptip-shadow {
	filter: none\9;
}
.ui-poptip-arrow-left em {
	color: rgb(255, 187, 118);
}
.ui-poptip-arrow-left span {
	left: 0px; top: 0px; color: rgb(255, 252, 239);
}
.ui-poptip-arrow-left {
	font-family: SimSun,Hiragino Sans GB; font-size: 14px; position: absolute;
}
.ui-poptip-arrow-left em {
	font-family: SimSun,Hiragino Sans GB; font-size: 14px; position: absolute;
}
.ui-poptip-arrow-left span {
	font-family: SimSun,Hiragino Sans GB; font-size: 14px; position: absolute;
}
.ui-poptip-arrow-left {
	left: -6px; top: 6px;
}
.ui-poptip-arrow-left em {
	left: -1px; top: 0px;
}
.ui-poptip-icon {
	width: 50px; height: 42px; margin-right: 6px; float: left; display: inline;
}
.ui-poptip-icon-notice {
	background: url("https://i.alipayobjects.com/e/201207/32UMBEuECH.png") no-repeat;
}
.ui-box {
	border: 1px solid rgb(204, 204, 204);
}
.ui-box-follow {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.ui-box-title {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.ui-box-title-border {
	padding: 9px 10px; border: 1px solid rgb(255, 255, 255); height: 14px; line-height: 16px; overflow: hidden;
}
.sl-linear {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
}
.ui-box-title h3 {
	color: rgb(101, 101, 101); font-size: 14px; font-weight: 700; float: left; display: inline;
}
.ui-box-title .ui-box-title-setting {
	width: 16px; height: 16px; line-height: 16px; text-indent: -9999px; overflow: hidden; float: right; display: inline; cursor: pointer;
}
.ui-box-title .ui-box-title-more {
	float: right;
}
.ui-box-title .ui-box-title-link {
	margin-left: 15px; float: left; display: inline;
}
.ui-box-container {
	background: rgb(255, 255, 255);
}
.ui-box-nocontainer {
	height: 36px; overflow: hidden; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; _position: relative;
}
.ui-box-nocontainer .ui-box-container {
	opacity: 0;
}
.app-arrow {
	top: 12px; height: 12px; right: 12px; color: rgb(136, 136, 136); line-height: 12px; font-size: 12px; display: none; position: absolute;
}
.app-button * {
	margin: 0px; padding: 0px;
}
.app-button {
	padding: 0px 20px; border-radius: 2px; text-align: center; font-family: verdana,Hiragino Sans GB; font-size: 14px; font-weight: 700; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer;
}
.app-button:hover {
	text-decoration: none;
}
.app-button-sorange {
	border: 1px solid rgb(229, 129, 14); color: rgb(255, 255, 255); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5A620', endColorstr='#F09611'); box-shadow: inset 0px -2px 3px rgba(255,255,255,0.3); background-color: rgb(245, 170, 43);
}
.app-button-sorange:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7B73B', endColorstr='#F4A626'); box-shadow: inset 0px -2px 2px rgba(255,255,255,0.4); background-color: rgb(245, 170, 43);
}
a.app-button-sorange {
	color: rgb(255, 255, 255);
}
.app-button-sorange {
	padding: 0px 12px; height: 23px; line-height: 23px; font-size: 12px;
}
.app-poptip {
	color: rgb(219, 124, 34); line-height: 1.5; position: absolute; z-index: 101; zoom: 1;
}
.app-poptip-shadow {
	padding: 2px; border-radius: 2px; filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b); zoom: 1; background-color: rgba(229, 169, 107, 0.15); _display: inline;
}
.app-poptip-container {
	padding: 5px 22px 5px 10px; border-radius: 2px; border: 1px solid rgb(255, 187, 118); position: relative; zoom: 1; background-color: rgb(255, 252, 239); _display: inline;
}
.app-poptip::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.app-poptip-shadow::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.app-poptip-container::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
a.app-poptip-close {
	border-radius: 3px; border: 1px solid rgb(255, 200, 145); top: 3px; width: 12px; height: 12px; text-align: center; right: 3px; color: rgb(221, 126, 0); line-height: 12px; overflow: hidden; font-family: tahoma; font-size: 14px; text-decoration: none; position: absolute;
}
a.app-poptip-close {
	background: rgb(255, 215, 175); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1', endColorstr='#FFE7CD');
}
a.app-poptip-close:hover {
	background: rgb(255, 215, 175); border: 1px solid rgb(255, 178, 76); color: rgb(221, 126, 0); text-decoration: none; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA', endColorstr='#FFCC98');
}
.app-poptip-arrow {
	line-height: 21px; font-family: SimSun,Hiragino Sans GB; font-size: 14px; font-style: normal; position: absolute; z-index: 10;
}
.app-poptip-arrow em {
	line-height: 21px; font-family: SimSun,Hiragino Sans GB; font-size: 14px; font-style: normal; position: absolute; z-index: 10;
}
.app-poptip-arrow span {
	line-height: 21px; font-family: SimSun,Hiragino Sans GB; font-size: 14px; font-style: normal; position: absolute; z-index: 10;
}
.app-poptip-arrow em {
	color: rgb(255, 187, 118);
}
.app-poptip-arrow span {
	left: 0px; top: 0px; color: rgb(255, 252, 239);
}
.app-poptip-arrow-10 {
	left: -6px; top: 6px;
}
.app-poptip-arrow-10 em {
	left: -1px; top: 0px;
}
.app-poptip-icon {
	height: 42px; margin-right: 6px; float: left; display: inline;
}
.app-poptip-icon-notice {
	background: url("https://i.alipayobjects.com/e/201207/32UMBEuECH.png") no-repeat;
}
.app-poptip-content {
	float: left; display: inline;
}
.app-poptip-content::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.app-poptip-link {
	margin-top: 4px; float: left;
}
.app-poptip-link a {
	color: rgb(0, 136, 204);
}
:root .app-poptip-shadow {
	filter: none\9;
}
#J_app_sider {
	line-height: 1.5; font-size: 12px;
}
.module-myapp .ui-box-container {
	width: 188px; overflow: hidden;
}
.myapp-loading {
	padding: 24px 20px; width: 140px; text-align: center;
}
#J_myapp_sliders {
	width: 1000px;
}
#myapp-sliders {
	width: 1000px; overflow: hidden; margin-bottom: 4px;
}
.myapp-slider {
	width: 188px; overflow: hidden; float: left;
}
.myapp-item {
	overflow: hidden; position: relative;
}
.myapp-item a {
	outline: 0px; width: 188px; height: 37px; color: rgb(102, 106, 114); line-height: 36px; float: left; display: inline; _line-height: 36px;
}
.myapp-item a:hover {
	text-decoration: none;
}
.myapp-item .myapp-index {
	margin: 6px 10px; width: 24px; height: 24px; text-align: center; color: rgb(154, 154, 154); line-height: 24px; font-size: 19px; float: left; display: inline;
}
.myapp-item a span {
	color: rgb(102, 106, 114); line-height: 41px; font-size: 12px; vertical-align: top; float: left; display: inline; cursor: pointer;
}
.myapp-item a img {
	margin: 6px 10px; float: left; display: inline;
}
.module-myapp .myapp-item a span {
	font-size: 14px;
}
.myapp-item span.myapp-item-name {
	background: url("#");
}
.myapp-item span.myapp-icon {
	margin: 6px 10px; width: 24px; height: 24px; text-indent: -9999px; overflow: hidden; float: left; display: inline;
}
.myapp-item-hover a {
	background-color: rgb(245, 245, 245);
}
.myapp-item-hover span.myapp-item-name {
	background-color: rgb(245, 245, 245);
}
.myapp-item .app-arrow-right {
	top: 13px; right: 11px; position: absolute;
}
.my-app-item-hot {
	background: url("https://i.alipayobjects.com/e/201309/1CrdHOpHyh.png") no-repeat;
}
.my-app-item-new {
	background: url("https://i.alipayobjects.com/e/201309/1CrdHOpHyh.png") no-repeat;
}
#J_myapp_slider_trigger_prev {
	background: url("https://i.alipayobjects.com/e/201309/1CrdHOpHyh.png") no-repeat;
}
#J_myapp_slider_trigger_next {
	background: url("https://i.alipayobjects.com/e/201309/1CrdHOpHyh.png") no-repeat;
}
.my-app-item-hot {
	left: 25px; top: 1px; width: 22px; height: 14px; text-indent: -9999px; overflow: hidden; position: absolute;
}
.my-app-item-new {
	left: 25px; top: 1px; width: 22px; height: 14px; text-indent: -9999px; overflow: hidden; position: absolute;
}
.my-app-item-hot {
	
}
.my-app-item-new {
	background-position: 0px -14px;
}
.myapp-slider-trigger {
	padding: 0px 0px 10px; height: 24px; text-align: center; overflow: visible; display: none; position: relative;
}
.myapp-slider-trigger li {
	background: rgb(255, 255, 255); color: rgb(230, 230, 230); line-height: 1.5; font-family: verdana; font-size: 17px; font-weight: 700; margin-right: 4px; display: inline-block; cursor: pointer;
}
.myapp-slider-trigger li.current {
	color: rgb(179, 179, 179);
}
#J_myapp_slider_trigger_dot {
	display: inline-block;
}
#J_myapp_slider_trigger_prev {
	top: 6px; width: 7px; height: 13px; text-indent: -9999px; overflow: hidden; position: absolute; cursor: pointer;
}
#J_myapp_slider_trigger_next {
	top: 6px; width: 7px; height: 13px; text-indent: -9999px; overflow: hidden; position: absolute; cursor: pointer;
}
#J_myapp_slider_trigger_prev {
	background-position: -7px -28px; left: 15px;
}
.myapp-slider-trigger-first#J_myapp_slider_trigger_prev {
	background-position: 0px -28px;
}
#J_myapp_slider_trigger_next {
	background-position: -21px -28px; right: 15px;
}
.myapp-slider-trigger-last#J_myapp_slider_trigger_next {
	background-position: -14px -28px;
}
.appcenter-list {
	overflow: hidden;
}
.appcenter-list .ui-box-title {
	overflow: hidden;
}
.appcenter-list .ui-box-title {
	cursor: pointer;
}
.appcenter-list h3 {
	font-family: tahoma,arial,ו;
}
.appcenter-list h3 span {
	
}
.appcenter-list .ui-box-container {
	overflow: hidden;
}
.ui-box-title-hover .ui-box-title-border {
	padding: 10px 11px; border: 0px currentColor; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6", endColorstr="#dadada"); cursor: pointer;
}
.appcenter-list .ui-box-title-setting {
	background: url("https://i.alipayobjects.com/e/201309/1CrdHOpHyh.png") no-repeat;
}
.appcenter-list .ui-box-title-setting:hover {
	background: url("https://i.alipayobjects.com/e/201309/1CrdHOpHyh.png") no-repeat;
}
.errorxbox-icon {
	background: url("https://i.alipayobjects.com/e/201309/1CrdHOpHyh.png") no-repeat;
}
.appcenter-list .ui-box-title-setting {
	background-position: 0px -41px; top: 0px; width: 30px; height: 35px; right: 0px; overflow: hidden; position: absolute;
}
.appcenter-list .ui-box-title-setting:hover {
	background-position: 0px -109px;
}
.appcenter-list .myapp-item a {
	float: left;
}
.appcenter-list .myapp-item a {
	float: left;
}
.appcenter-list .myapp-item .normal {
	width: 138px;
}
.appcenter-list .myapp-item .add {
	width: 50px; height: 36px; color: rgb(216, 216, 216); line-height: 36px; float: left;
}
.appcenter-list .myapp-item span.add {
	cursor: default;
}
.more-app a:hover {
	text-decoration: none;
}
.more-app span.ui-box-title {
	display: block;
}
.more-app span.ui-box-title-border {
	display: block;
}
.appcenter-list .myapp-item-hover {
	background: rgb(247, 247, 247);
}
.appcenter-list .myapp-item-selected {
	background: rgb(247, 247, 247);
}
.myapp-item-selected a span {
	font-weight: 700;
}
.appcenter-list .myapp-item a.add {
	color: rgb(0, 135, 201);
}
.appcenter-list .myapp-item a.add:hover {
	text-decoration: underline;
}
.appcenter-list-error {
	padding: 16px; border: 1px solid rgb(204, 204, 204);
}
.appcenter-list-error h3 {
	font-size: 14px;
}
.appcenter-list-error p {
	margin-top: 10px;
}
.appcenter-list-error .n-explian {
	color: rgb(136, 136, 136);
}
.errorxbox-container {
	overflow: hidden; position: relative;
}
.errorxbox-container .errorxbox-icon {
	left: 40px; top: 24px; width: 32px; height: 32px; text-indent: -9999px; position: absolute;
}
.errorxbox-icon {
	background-position: 0px -76px;
}
.errorxbox-content {
	margin: 22px 0px 30px 87px;
}
.errorxbox-content h3 {
	color: rgb(51, 51, 51); font-size: 14px; font-weight: 700;
}
.errorxbox-explain {
	color: gray;
}
.errorxbox-other {
	color: rgb(51, 51, 51);
}
.errorxbox-other a {
	color: rgb(61, 134, 229);
}
a.errorxbox-close-link {
	background: 0px; top: 0px; width: 30px; height: 14px; right: 0px; color: rgb(0, 119, 255); line-height: 12px; font-size: 12px; text-decoration: none; position: absolute; z-index: 10; cursor: pointer;
}
a.errorxbox-close-link:hover {
	text-decoration: none;
}
